/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  height:100%;
}

#background {
  position:absolute;
  top:0; bottom:0;
  right:0; left:0;
  z-index:-1;

  background: url(../img/hall.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#install:hover {
  cursor:pointer;
}

#small {
  display:inline-block;
  overflow:hidden;
  position:relative;
  padding:0 1.5rem;
}

body {
   display: table;
   width: 100%;
}

a {
  text-decoration:none;
}

#main {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   /*background-color:rgba(255, 255, 255, .5);*/
   background-color:rgba(150,150,150, .5);
}

#shell {
  text-align:left;

  width:100%;
  max-width:700px;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* TOP BAR */
.shell-toolbar {
    position:relative;

    height: auto;
    background: #bebebe;
    border-radius:0.5rem 0.5rem 0 0;

    background: #cfcfcf; /* Old browsers */
}

/*-----TRAFFIC LIGHTS-----*/
.shell-toolbar .shell-lights{
    position:absolute;
    top:0.25rem;
    left:0.5rem;
}
.light {
    float:left;
    width:1rem;
    height:1rem;
    margin-right:0.3rem;
    border-radius:50%;
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5), 0px 0px 2px #000 inset;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5), 0px 0px 2px #000 inset;
    box-shadow:0px 1px 0px rgba(255,255,255,0.5), 0px 0px 2px #000 inset;
}


/*--RED--*/
.red{
   background: #f41b16; /* Old browsers */
   background: -moz-linear-gradient(top,  #f41b16 0%, #fc7471 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f41b16), color-stop(100%,#fc7471)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #f41b16 0%,#fc7471 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #f41b16 0%,#fc7471 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #f41b16 0%,#fc7471 100%); /* IE10+ */
   background: linear-gradient(top,  #f41b16 0%,#fc7471 100%); /* W3C */
}
.red:active{

    background: #972f2e; /* Old browsers */
    background: -moz-linear-gradient(top,  #972f2e 0%, #fc7471 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#972f2e), color-stop(100%,#fc7471)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #972f2e 0%,#fc7471 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #972f2e 0%,#fc7471 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #972f2e 0%,#fc7471 100%); /* IE10+ */
    background: linear-gradient(top,  #972f2e 0%,#fc7471 100%); /* W3C */
}

/*--YELLOW--*/
.yellow{
    background: #f4a316; /* Old browsers */
    background: -moz-linear-gradient(left,  #f4a316 0%, #fcc371 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f4a316), color-stop(100%,#fcc371)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f4a316 0%,#fcc371 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f4a316 0%,#fcc371 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f4a316 0%,#fcc371 100%); /* IE10+ */
    background: linear-gradient(left,  #f4a316 0%,#fcc371 100%); /* W3C */
}
.yellow:active{
    background: #ae4f1e; /* Old browsers */
    background: -moz-linear-gradient(top,  #ae4f1e 0%, #fcc371 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ae4f1e), color-stop(100%,#fcc371)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ae4f1e 0%,#fcc371 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ae4f1e 0%,#fcc371 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ae4f1e 0%,#fcc371 100%); /* IE10+ */
    background: linear-gradient(top,  #ae4f1e 0%,#fcc371 100%); /* W3C */
}

/*--GREEN--*/
.green{

    background: #4cae2e; /* Old browsers */
    background: -moz-linear-gradient(top,  #4cae2e 0%, #dafc71 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cae2e), color-stop(100%,#dafc71)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4cae2e 0%,#dafc71 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4cae2e 0%,#dafc71 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4cae2e 0%,#dafc71 100%); /* IE10+ */
    background: linear-gradient(top,  #4cae2e 0%,#dafc71 100%); /* W3C */

}
.green:active{
  background: #48752b; /* Old browsers */
  background: -moz-linear-gradient(top,  #48752b 0%, #dafc71 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#48752b), color-stop(100%,#dafc71)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #48752b 0%,#dafc71 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #48752b 0%,#dafc71 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #48752b 0%,#dafc71 100%); /* IE10+ */
  background: linear-gradient(top,  #48752b 0%,#dafc71 100%); /* W3C */

}

/*-----TITLE-----*/
.shell-title{
    text-align:center;
    font-family: "Lucida Grande", "Verdana", sans-serif;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    line-height:1.5;
}


.shell-body {
    font-family: "Courier New", monospace;
    min-height:200px;
    background:rgba(0,0,0, 0.9);
    padding:1rem;

    color: #FFF;

    /*border:1px solid rgba(255, 255, 255, 0.4);
    border-top:none;*/
    border-radius:0 0 1rem 1rem;
}

@keyframes blink
{
  0%   {  background:rgba(99,222,0,100);  }
  10% {  background:rgba(99,222,0,0);  }
  50% {  background:rgba(99,222,0,0);  }
  55% {  background:rgba(99,222,0,100);  }
}

@-webkit-keyframes blink {
  0%   {  background:rgba(99,222,0,100);  }
  10% {  background:rgba(99,222,0,0);  }
  50% {  background:rgba(99,222,0,0);  }
  55% {  background:rgba(99,222,0,100);  }
}
@-moz-keyframes blink {
  0%   {  background:rgba(99,222,0,100);  }
  10% {  background:rgba(99,222,0,0);  }
  50% {  background:rgba(99,222,0,0);  }
  55% {  background:rgba(99,222,0,100);  }
}

.cursor {
  background:#63de00;

  position:relative;
  top:0.25rem;

  display:inline-block;
  width:0.5rem;
  height:1rem;

  -webkit-animation-name: blink;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blink;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
}

.shell-body *::-webkit-selection { background: #4e74c1; }
.shell-body *::-moz-selection { background: #4e74c1; }
.shell-body *::selection { background: #4e74c1; }

.shell-body p {
  font-size:1rem;
  margin:0;
}

.command {
  color:#63de00;
}

#shell a {
  color:#63de00;
  border-bottom:none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 450px) {
  html {
    font-size:0.75em;
  }

  .shell-body {
    min-height:100px;
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
